// Color
$primary: #133EE4;
$secondary: #B2D3F3;

// Body
$body-color:#707070;

// Link
$link-hover-decoration: none;

// Font
$font-family-base: 'Prompt';
$headings-font-weight: normal;

// Form
$input-border-radius:0;
$input-border-radius-lg:$input-border-radius;
$input-border-radius-sm:$input-border-radius;

// Button
$btn-border-radius:0;
$btn-border-radius-lg:$btn-border-radius;
$btn-border-radius-sm:$btn-border-radius;